<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <title>Flask Trivia</title>
</head>
<body>
    <div class="search-wrapper">
        <form action="http://127.0.0.1:5000/search" method="POST">
            <label for="search">Flask Trivia</label><br>
            <input type="search" id="search" name="search">
            <button type="submit">Search</button>
            <button onclick="location.href='/'">Clear Results</button>
        </form>
        
    </div>
    <div class="rolodex">
        {% for users in users %}     
		<div class="card">
            <div class="photo"><img src={{users.getPicLarge()}} alt=""></div>
            <div class="name">{{ users.getFirstName() }} {{ users.getLastName() }}</div>
            <div class="phone">{{ users.getPhone() }}</div>
            <div class="email">{{ users.getEmailAddress() }}</div>
        </div> 
		
        {% endfor %}        
    </div>
</body>
</html>