<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <title>Flask Trivia</title>
</head>
<body>
    <div class = 'header'>
        <h1>Test Your Trivia Knowledge</h1>
        <h3>Category: {{questions.getCategory}}</h3>
    </div>
    <form class="card">
        {% for questions in questions %}     
		<div>
            <div class="question">{{questions.getQuestion()}}</div>
            {% for answer in questions.getShuffledAnswers() %}
                <input type='radio' class="answers">{{answer}}</input>
            {% endfor %}
        </div> 
        {% endfor %}
        <button>Score</button>
    </form>
</body>
</html>