<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <title>Flask Trivia</title>
</head>
<body>
    <div class = 'header'>
        <h1>Score</h1>
    </div>
    <form class="card">
        {% for question in questions %}     
		<div>
            &emsp;<div class="question">{{question.getId()}}. {{question.getQuestion()}}</div>
            &ensp;{% for answer in question.getShuffledAnswers() %}
                &ensp;<input type='radio' name='{{question.getId()}}' value='{{answer}}' class="answers">{{answer}}</input>
            {% endfor %}
        </div> 
        {% endfor %}
        <button>Score</button>
    </form>
</body>
</html>