<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <title>Flask Trivia</title>
</head>
<body>
    <div class = 'header'>
        <h1>Score</h1>
    </div>
    <form class="card" action="http://localhost:5000/" method = "get" onclick='{{controller.clearData()}}'>
        <h4>Correctly Answered</h4>
            {% for question in corAnswers %}     
                &ensp;<div class="question">{{question.getId()}}. {{question.getQuestion()}}</div>
                &ensp;{{question.getAnswer()}}
            {% endfor %}
        <h4>Incorrectly Answered</h4>
            {% for question in incAnswers %}     
                &ensp;<div class="question">{{question.getId()}}. {{question.getQuestion()}}</div>
                &ensp;{{question.getAnswer()}} 
            {% endfor %}
        <div></div>
        <button>Again!</button>
    </form>
</body>
</html>