.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
    justify-content: center;
    max-width: 30rem;
    font-size: 2rem;
    margin: 0 auto;
}
.search-wrapper form {
    max-width: 30rem;
    font-size: 2rem;
    margin: 0 auto;
}


.search {
    font-size: 1rem;
    size: 30rem;
}

.rolodex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.hide {
    display: none;
}

/* .answers { */
    /* margin-left: 40px;
} */